body {
    font-family:'Montserrat', sans-serif;
}

.main-container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
}

.parallax:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -4px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.section-container {
    padding: 500px 82px 100px 82px;
}

.text-yellow {
    color: #f1ad1d;
}

.head-sertiz {
    display: flex;
    align-items: flex-end;
}

.head-text {
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
}

.head-subtext {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    line-height: 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.head-color-logo {
    height: 125px;
    display: inline-grid;
    grid-template-columns: 0fr 1fr;
    border: 1px solid white;
    margin-bottom: 140px;
}

.col-logo-fw {
    color: #f1ad1d;
    background-color: #fff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

.col-logo-ow {
    color: white;
    background-color: rgba(0,0,0,0.24);
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 40px 0 25px;
}

.bg-head:after {
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.text-block {
    padding: 160px 0 130px;
    background-color: #ffffff;
    text-align: center;
}

.tb-head {
    font-size: 22px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
}

.tb-subhead {
    font-family: 'Lato',sans-serif;
    font-size: 17px;
    line-height: 15px;
    margin-top: 30px;
}

.text-block:after {
    content: '';
    display: inline-block;
    height: 1px;
    border: 1px solid transparent;
    border-top-color: #f1ad1d;
    border-bottom-color: #f1ad1d;
    background-color: #f1ad1d;
    width: 60px;
    margin-top: 50px;
}

.image-block {
    padding: 200px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ib-text-head {
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.ib-text-head:after {
    content: '';
    display: inline-block;
    height: 1px;
    border: 1px solid transparent;
    border-top-color: #f1ad1d;
    border-bottom-color: #f1ad1d;
    background-color: #f1ad1d;
    width: 60px;
    margin: 60px;
}

.ib-subtext {
    text-align: center;
}

.subtext-white {
    color: #ffffff;
    font-size: 18px;
}

.subtext-yellow {
    color: #f1ad1d;
}

.ib-st-link {
    text-decoration: none;
    color: #f1ad1d;
    font-size: 18px;
    line-height: 30px;
}

.ib-logos {
    width: 840px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.bg-1:after {
    background: url('../img/bg2.jpg') no-repeat center;
    /*background-size: cover;*/
}

.bg-2:after {
    background: url('../img/bg3.jpg') no-repeat center;
    /*background-size: cover;*/
}

.bg-3:after {
    background: url('../img/bg4.jpg') no-repeat center;
    /*background-size: cover;*/
}

.ib-featured-logos {
    background: url(../img/spritesheet.png) no-repeat;
    display: block;
}

.featured-logo--Layer-17 {
    width: 172px;
    height: 42px;
    background-position: -10px -10px;
}

.featured-logo-Layer-18 {
    width: 207px;
    height: 28px;
    background-position: -10px -72px;
}

.featured-logo-logo-3 {
    width: 141px;
    height: 52px;
    background-position: -10px -120px;
}

.featured-logo-logo-8 {
    width: 135px;
    height: 49px;
    background-position: -10px -192px;
}