body {
    font-family:'Montserrat', sans-serif;
}

.container {
    width: 1280px;
    margin:  0 auto;
}

.head-sertiz {
    background: url(../img/bg1.jpg) no-repeat center fixed;
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: flex-end;
}

.head-text {
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
}

.head-subtext {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    line-height: 10px;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
}

.head-color-logo {
    height: 125px;
    display: inline-grid;
    grid-template-columns: 0fr 1fr;
    border: 1px solid white;
    margin-bottom: 140px;
}

.col-logo-fw {
    color: #f1ad1d;
    background-color: #fff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

.col-logo-ow {
    color: white;
    background-color: rgba(0,0,0,0.24);
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 40px 0 25px;
}

.text-block {
    height: 450px;
    text-align: center;
}

.tb-head {
    font-size: 22px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    padding-top: 110px;
}

.tb-subhead {
    font-family: 'Lato',sans-serif;
    font-size: 17px;
    line-height: 15px;
    margin-top: 30px;
}

.text-block:after {
    content: '';
    display: inline-block;
    height: 1px;
    border: 1px solid transparent;
    border-top-color: #f1ad1d;
    border-bottom-color: #f1ad1d;
    background-color: #f1ad1d;
    width: 60px;
    margin: 50px 0 150px 0;
}

.image-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
}

.bg-1 {
    width: 100%;
    background: url('../img/bg2.jpg') no-repeat center fixed;
    background-size: cover;
}

.bg-2 {
    width: 100%;
    background: url('../img/bg3.jpg')no-repeat center fixed;
    background-size: cover;
}

.bg-3 {
    width: 100%;
    background: url('../img/bg4.jpg')no-repeat center fixed;
    background-size: cover;
}

.ib-text-head {
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.ib-text-head:after {
    content: '';
    display: inline-block;
    height: 1px;
    border: 1px solid transparent;
    border-top-color: #f1ad1d;
    border-bottom-color: #f1ad1d;
    background-color: #f1ad1d;
    width: 60px;
    margin: 60px;
}

.text-yellow {
    color: #f1ad1d;
}

.ib-subtext {
    text-align: center;
}

.subtext-white {
    color: #ffffff;
    font-size: 18px;
}

.subtext-yellow {
    color: #f1ad1d;
}

.ib-st-link {
    text-decoration: none;
    color: #f1ad1d;
    font-size: 18px;
    line-height: 30px;
}

.ib-logos {
    width: 840px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.sprite {
    background: url(../img/spritesheet.png) no-repeat;
    display: block;
}

.sprite-Layer-17 {
    width: 172px;
    height: 42px;
    background-position: -10px -10px;
}

.sprite-Layer-18 {
    width: 207px;
    height: 28px;
    background-position: -10px -72px;
}

.sprite-logo-3 {
    width: 141px;
    height: 52px;
    background-position: -10px -120px;
}

.sprite-logo-8 {
    width: 135px;
    height: 49px;
    background-position: -10px -192px;
}